<style>
   .body {
      display: flex;
      min-height: 100vh;
  }
  
  .running-line-wrapper {
      margin: auto;
      width: 100%;
      overflow: hidden;
      background-color:orange;
  }
  
  .running-line {
      font-size: 15px;
      font-family: sans-serif;
      font-weight: 100;
      text-transform: uppercase;
      color: #444;
      white-space: nowrap;
      display: flex;
      gap: 60px; 
      font-weight:bold;
      animation: run 10s linear infinite;

  }
 
  
  .running-line span:hover {
   animation-play-state: paused;
}
  
  @keyframes run {
      from {
          transform: translateX(0%);
      }
      to {
          transform: translateX(-1683.35px);
      }
  }
</style>
<div class="running-line-wrapper">
    <div class="running-line">
       <span> 
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.3396 3.11595C10.9685 2.44729 10.5238 2.1084 10.0178 2.1084C9.43556 2.1084 8.8309 2.56684 8.22001 3.47129C8.14415 3.58391 8.07109 3.69838 8.0009 3.81462C7.93079 3.69834 7.85773 3.58385 7.78179 3.47129C7.17112 2.56684 6.56623 2.1084 5.98401 2.1084C5.47823 2.1084 5.03334 2.44729 4.66223 3.11595C4.3849 3.6164 4.40779 4.00929 4.54045 4.2224C4.77979 4.60684 5.39156 4.8324 6.25245 4.9804C6.91356 5.0944 7.6129 5.11129 7.97112 5.11129H8.0309C8.3889 5.11129 9.08845 5.0944 9.74934 4.9804C10.61 4.8324 11.2218 4.60662 11.4613 4.2224C11.5936 4.00907 11.6171 3.6164 11.3396 3.11595Z" fill="#D22F27"></path><path d="M3.55469 8H12.2214V13.5556H3.55469V8Z" fill="#FCEA2B"></path><path d="M11.8642 7.88867L3.77734 7.90156V9.12378L9.80912 9.99689L12.2218 10.3331V7.90156L11.8642 7.88867Z" fill="#F1B31C"></path><path d="M6.60352 13.3332H9.39729V9.83831L6.60352 9.28564V13.3332Z" fill="#EA5A47"></path><path d="M3.11133 4.6665H12.8891V7.77762H3.11133V4.6665Z" fill="#FCEA2B"></path><path d="M6.60352 4.88867H9.39707V7.77756H6.60352V4.88867Z" fill="#EA5A47"></path><path d="M9.39729 7.88867L6.60352 7.89312V9.52734L9.39729 9.93467V7.88867Z" fill="#D22F27"></path><path d="M3.63511 7.88907H3.11133V4.74618H3.85711H12.0204H12.8891V7.88907H12.3653V13.4764H3.63511V7.88907ZM3.63511 7.88907H12.54M11.3249 4.05573C11.4102 3.83795 11.4342 3.52395 11.216 3.11595C10.8587 2.44729 10.4302 2.1084 9.94311 2.1084C9.38199 2.1084 8.79955 2.56684 8.21111 3.47129C8.13794 3.58399 8.06755 3.69847 7.99999 3.81462C7.93259 3.69842 7.86227 3.58394 7.78911 3.47129C7.20088 2.56684 6.61822 2.1084 6.05733 2.1084C5.56999 2.1084 5.14177 2.44729 4.78399 3.11595C4.58377 3.49151 4.58777 3.78729 4.65644 4.00195" stroke="white" stroke-width="0.333333" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M9.39729 13.3336V9.83872M6.60352 9.28605V13.3336M9.39729 7.77805V4.88916M6.60352 4.88916V7.77805M9.39729 9.93516V7.88916L6.60352 7.8936V9.52783" stroke="white" stroke-width="0.333333" stroke-miterlimit="10"></path></svg>
       Free world wide shopping</span>
       <span> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.3396 3.11595C10.9685 2.44729 10.5238 2.1084 10.0178 2.1084C9.43556 2.1084 8.8309 2.56684 8.22001 3.47129C8.14415 3.58391 8.07109 3.69838 8.0009 3.81462C7.93079 3.69834 7.85773 3.58385 7.78179 3.47129C7.17112 2.56684 6.56623 2.1084 5.98401 2.1084C5.47823 2.1084 5.03334 2.44729 4.66223 3.11595C4.3849 3.6164 4.40779 4.00929 4.54045 4.2224C4.77979 4.60684 5.39156 4.8324 6.25245 4.9804C6.91356 5.0944 7.6129 5.11129 7.97112 5.11129H8.0309C8.3889 5.11129 9.08845 5.0944 9.74934 4.9804C10.61 4.8324 11.2218 4.60662 11.4613 4.2224C11.5936 4.00907 11.6171 3.6164 11.3396 3.11595Z" fill="#D22F27"></path><path d="M3.55469 8H12.2214V13.5556H3.55469V8Z" fill="#FCEA2B"></path><path d="M11.8642 7.88867L3.77734 7.90156V9.12378L9.80912 9.99689L12.2218 10.3331V7.90156L11.8642 7.88867Z" fill="#F1B31C"></path><path d="M6.60352 13.3332H9.39729V9.83831L6.60352 9.28564V13.3332Z" fill="#EA5A47"></path><path d="M3.11133 4.6665H12.8891V7.77762H3.11133V4.6665Z" fill="#FCEA2B"></path><path d="M6.60352 4.88867H9.39707V7.77756H6.60352V4.88867Z" fill="#EA5A47"></path><path d="M9.39729 7.88867L6.60352 7.89312V9.52734L9.39729 9.93467V7.88867Z" fill="#D22F27"></path><path d="M3.63511 7.88907H3.11133V4.74618H3.85711H12.0204H12.8891V7.88907H12.3653V13.4764H3.63511V7.88907ZM3.63511 7.88907H12.54M11.3249 4.05573C11.4102 3.83795 11.4342 3.52395 11.216 3.11595C10.8587 2.44729 10.4302 2.1084 9.94311 2.1084C9.38199 2.1084 8.79955 2.56684 8.21111 3.47129C8.13794 3.58399 8.06755 3.69847 7.99999 3.81462C7.93259 3.69842 7.86227 3.58394 7.78911 3.47129C7.20088 2.56684 6.61822 2.1084 6.05733 2.1084C5.56999 2.1084 5.14177 2.44729 4.78399 3.11595C4.58377 3.49151 4.58777 3.78729 4.65644 4.00195" stroke="white" stroke-width="0.333333" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M9.39729 13.3336V9.83872M6.60352 9.28605V13.3336M9.39729 7.77805V4.88916M6.60352 4.88916V7.77805M9.39729 9.93516V7.88916L6.60352 7.8936V9.52783" stroke="white" stroke-width="0.333333" stroke-miterlimit="10"></path></svg>Buy 2 get 2</span>
       <span> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.3396 3.11595C10.9685 2.44729 10.5238 2.1084 10.0178 2.1084C9.43556 2.1084 8.8309 2.56684 8.22001 3.47129C8.14415 3.58391 8.07109 3.69838 8.0009 3.81462C7.93079 3.69834 7.85773 3.58385 7.78179 3.47129C7.17112 2.56684 6.56623 2.1084 5.98401 2.1084C5.47823 2.1084 5.03334 2.44729 4.66223 3.11595C4.3849 3.6164 4.40779 4.00929 4.54045 4.2224C4.77979 4.60684 5.39156 4.8324 6.25245 4.9804C6.91356 5.0944 7.6129 5.11129 7.97112 5.11129H8.0309C8.3889 5.11129 9.08845 5.0944 9.74934 4.9804C10.61 4.8324 11.2218 4.60662 11.4613 4.2224C11.5936 4.00907 11.6171 3.6164 11.3396 3.11595Z" fill="#D22F27"></path><path d="M3.55469 8H12.2214V13.5556H3.55469V8Z" fill="#FCEA2B"></path><path d="M11.8642 7.88867L3.77734 7.90156V9.12378L9.80912 9.99689L12.2218 10.3331V7.90156L11.8642 7.88867Z" fill="#F1B31C"></path><path d="M6.60352 13.3332H9.39729V9.83831L6.60352 9.28564V13.3332Z" fill="#EA5A47"></path><path d="M3.11133 4.6665H12.8891V7.77762H3.11133V4.6665Z" fill="#FCEA2B"></path><path d="M6.60352 4.88867H9.39707V7.77756H6.60352V4.88867Z" fill="#EA5A47"></path><path d="M9.39729 7.88867L6.60352 7.89312V9.52734L9.39729 9.93467V7.88867Z" fill="#D22F27"></path><path d="M3.63511 7.88907H3.11133V4.74618H3.85711H12.0204H12.8891V7.88907H12.3653V13.4764H3.63511V7.88907ZM3.63511 7.88907H12.54M11.3249 4.05573C11.4102 3.83795 11.4342 3.52395 11.216 3.11595C10.8587 2.44729 10.4302 2.1084 9.94311 2.1084C9.38199 2.1084 8.79955 2.56684 8.21111 3.47129C8.13794 3.58399 8.06755 3.69847 7.99999 3.81462C7.93259 3.69842 7.86227 3.58394 7.78911 3.47129C7.20088 2.56684 6.61822 2.1084 6.05733 2.1084C5.56999 2.1084 5.14177 2.44729 4.78399 3.11595C4.58377 3.49151 4.58777 3.78729 4.65644 4.00195" stroke="white" stroke-width="0.333333" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M9.39729 13.3336V9.83872M6.60352 9.28605V13.3336M9.39729 7.77805V4.88916M6.60352 4.88916V7.77805M9.39729 9.93516V7.88916L6.60352 7.8936V9.52783" stroke="white" stroke-width="0.333333" stroke-miterlimit="10"></path></svg>Refer and Earn 15$</span>
       <span> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.3396 3.11595C10.9685 2.44729 10.5238 2.1084 10.0178 2.1084C9.43556 2.1084 8.8309 2.56684 8.22001 3.47129C8.14415 3.58391 8.07109 3.69838 8.0009 3.81462C7.93079 3.69834 7.85773 3.58385 7.78179 3.47129C7.17112 2.56684 6.56623 2.1084 5.98401 2.1084C5.47823 2.1084 5.03334 2.44729 4.66223 3.11595C4.3849 3.6164 4.40779 4.00929 4.54045 4.2224C4.77979 4.60684 5.39156 4.8324 6.25245 4.9804C6.91356 5.0944 7.6129 5.11129 7.97112 5.11129H8.0309C8.3889 5.11129 9.08845 5.0944 9.74934 4.9804C10.61 4.8324 11.2218 4.60662 11.4613 4.2224C11.5936 4.00907 11.6171 3.6164 11.3396 3.11595Z" fill="#D22F27"></path><path d="M3.55469 8H12.2214V13.5556H3.55469V8Z" fill="#FCEA2B"></path><path d="M11.8642 7.88867L3.77734 7.90156V9.12378L9.80912 9.99689L12.2218 10.3331V7.90156L11.8642 7.88867Z" fill="#F1B31C"></path><path d="M6.60352 13.3332H9.39729V9.83831L6.60352 9.28564V13.3332Z" fill="#EA5A47"></path><path d="M3.11133 4.6665H12.8891V7.77762H3.11133V4.6665Z" fill="#FCEA2B"></path><path d="M6.60352 4.88867H9.39707V7.77756H6.60352V4.88867Z" fill="#EA5A47"></path><path d="M9.39729 7.88867L6.60352 7.89312V9.52734L9.39729 9.93467V7.88867Z" fill="#D22F27"></path><path d="M3.63511 7.88907H3.11133V4.74618H3.85711H12.0204H12.8891V7.88907H12.3653V13.4764H3.63511V7.88907ZM3.63511 7.88907H12.54M11.3249 4.05573C11.4102 3.83795 11.4342 3.52395 11.216 3.11595C10.8587 2.44729 10.4302 2.1084 9.94311 2.1084C9.38199 2.1084 8.79955 2.56684 8.21111 3.47129C8.13794 3.58399 8.06755 3.69847 7.99999 3.81462C7.93259 3.69842 7.86227 3.58394 7.78911 3.47129C7.20088 2.56684 6.61822 2.1084 6.05733 2.1084C5.56999 2.1084 5.14177 2.44729 4.78399 3.11595C4.58377 3.49151 4.58777 3.78729 4.65644 4.00195" stroke="white" stroke-width="0.333333" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M9.39729 13.3336V9.83872M6.60352 9.28605V13.3336M9.39729 7.77805V4.88916M6.60352 4.88916V7.77805M9.39729 9.93516V7.88916L6.60352 7.8936V9.52783" stroke="white" stroke-width="0.333333" stroke-miterlimit="10"></path></svg>Free world wide shopping</span>


    </div>
 </div>
 
{% schema %}
{
"presets": [
    {
    "name": "infinite scrolling"
    }
]
}
{% endschema %}