 {% style %}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .section {
    width: 100%;
    padding: 20px;
    border:2px solid white;
    border-radius:10px;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight:bold;
    color:orange;
    
  }
.shop-by-category-splide__list{
display:flex;
list-style:none;
}
.shop-by-category-media-card{
  padding:13px;
}
{% endstyle %} 

<section class="section">
  <h2>{{ section.settings.section_heading }}</h2>

  <div class="shop-by-category-splide" id="splide-slider">
    <div class="shop-by-category-splide__track">
      <ul class="shop-by-category-splide__list">
        {% for block in section.blocks %}
          <li class="shop-by-category-splide__slide">
            <a href="{{ block.settings.collection  }}" class="shop-by-category-media-card" >
              {% if block.settings.image %}
                <img src="{{ block.settings.image | img_url: 'master' }}" alt="image" height="200" width="200">
              {% endif %}
            </a>
            <h3>{{ block.settings.title }}</h3>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Look off section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "section heading",
      "default": "heading"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "card",
      "limit": 6,
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "image"
        },
        {
          "type": "url",
          "id": "image_url",
          "label": "image url"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "look-off-section"
    }
  ]
}
{% endschema %}

{% javascript %}
  document.addEventListener('DOMContentLoaded', function () {
    new Splide('#splide-slider', {
      type: 'loop',
      perPage: 6,
    //   perMove    : 1,
      gap: '2rem',

      arrows: false,
      breakpoints: {
        768: {
          perPage: 2,
          arrows: true,
        },
        480: {
          perPage: 1,
          arrows: true,
        },
        1200: {
          arrows: false,
        },
      },
    }).mount();
  });
{% endjavascript %}
